<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>id</th>
      <th>Name</th>
      <th>Population</th>
    </tr>
  </thead>

  <% @countries.each do |country| %>
    <tbody>
        <tr>
          <td><%= link_to '+', countries_cities_path(country), remote: true, id: country.name %></td>
          <td><%= country.id %></td>
          <td><%= country.name %></td>
          <td><%= country.population %></td>
          <td><%# country.name %></td>
          <td><%# country.population %></td>
          <td><%# link_to 'Show', country %></td>
          <td><%# link_to 'Edit', edit_country_path(country) %></td>
          <td><%# link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </tbody>
    <tbody id='cities_<%= country.id %>' style ='display: none'></tbody>
  <% end %>
</table>

<br>

<%= link_to 'New City', new_city_path %>
<%= link_to 'New Country', new_country_path %>
